# انسخ هذا الملف باسم .env.local وضع فيه بيانات مشروعك على Supabase
# (تجدها في: Supabase Dashboard > Project Settings > API)

NEXT_PUBLIC_SUPABASE_URL=https://yexooangrrpjbntjsbme.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlleG9vYW5ncnJwamJudGpzYm1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5MzM3ODgsImV4cCI6MjEwMTUwOTc4OH0.h5WH-vGf_0iWZOln6nYn_PX9z2ABLobJypWGmIhrpaw
